<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--指定某个类配置类型别名-->
        <!--<typeAlias alias="User" type="User"/>-->

        <!--
        指定包名配置类型别名
        https://mybatis.org/mybatis-3/zh/configuration.html#typeAliases
        每一个在包 domain.blog 中的 Java Bean，在没有注解的情况下，会使用 Bean 的首字母小写的非限定类名来作为它的别名。
        比如 domain.blog.Author 的别名为 author；若有注解（@Alias("author")），则别名为其注解值。

        测试结果：首字母大写的非限定类名也可以
        -->
        <package name="com.example.simple.mybatis_project.dao.entity"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>